<div class="add-todo" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>New Todo</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-form-field>
                    <input matInput #input id="ownerField" placeholder="Owner" [(ngModel)]="data.todo.owner">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #input id="categoryField" placeholder="Category" [(ngModel)]="data.todo.category">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #input id="bodyField" placeholder="Body" [(ngModel)]="data.todo.body">
                </mat-form-field>

                <br>

                <mat-radio-group id="statusField" #input [(ngModel)]="data.todo.status">
                    <mat-radio-button value="true">Complete</mat-radio-button>
                    <mat-radio-button value="false">Incomplete</mat-radio-button>
                </mat-radio-group>
                <!-- [mat-dialog-close]="data.user" causes the data.user object to be returned when the dialog is closed. -->
                <button mat-button id="confirmAddTodoButton" [mat-dialog-close]="data.todo" type="button">Add todo</button>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button id="exitWithoutAddingButton" (click)="onNoClick()" type="button">Exit</button>
    </div>
</div>


